<h1 class="title">Weight Master</h1>

<p>Welcome to <b>Weight Master</b> </p>

<% if ( auth.isAnonymous ) { %>
<p><a href="/login">Click here</a> to login or create an account.</p>
<% } %>

<% if ( auth.isAuthenticated ) { %>
<p><a href="/add">Add</a> a weight measurement or <a href="/list">view</a> your progress.</p>
<% } %>